{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Accordion</title>
{% endblock meta %}

{% block content %}
<div class="container">
    <div class="s7_accordion">
        <div class="s7_accordionitem">
            <div class="s7_accordionhead">
                <p>AKU</p>
                <div class="s7_arrows">
                    <p class="s7_up">V</p>
                    <p class="s7_down">V</p>
                </div>
            </div>
                <div class="s7panel">
                    <p>Satu</p>
                </div>
                
        </div>

    <div class="s7_accordionitem">
        <div class="s7_accordionhead">
            <p>LELAH</p>
            <div class="s7_arrows">
                <p class="s7_up">V</p>
                <p class="s7_down">V</p>
            </div>
            </div>
            <div class="s7panel">
                <p>Dua</p>
            </div>
    </div>

    <div class="s7_accordionitem">
        <div class="s7_accordionhead">
            <p>SEKALI</p>
            <div class="s7_arrows">
                <p class="s7_up">V</p>
                <p class="s7_down">V</p>
            </div>
        </div>
            <div class="s7panel">
                <p>Tiga</p>
            </div>
        </div>

    <div class="s7_accordionitem">
        <div class="s7_accordionhead">
            <p>HEHE</p>
            <div class="s7_arrows">
                <p class="s7_up">V</p>
                <p class="s7_down">V</p>
            </div>
        </div>
            <div class="s7panel">
                <p>Empat</p>
            </div>
        </div>

    </div>
</div>
{% endblock content %}