{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Register Account</title>
{% endblock meta %}

{% block content %}
<div class="s9_login">
<div class="page-container">
    <h1>LOGIN</h1>
<div class="s9_loginbox">
<form method="POST" action="">
{% csrf_token %}
    <label for="username">Username : </label>
    <input type="text" id="username" name="username" class="form-control"><br><br>
    <label for="password">Password : </label>
    <input type="password" id="password" name="password" class="form-control"><br><br>
    <input id="s9_submitlogin" type="submit" value="Login">
</form>
</div>
</div>
</div>
{% endblock content %}