{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Register Account</title>
{% endblock meta %}

{% block content %}
<div class="s9_register">
    <h1> MAKE YOUR ACCOUNT HERE </h1>
<div class="page-container">
    <div class="s9_registerbox">
    <form method="POST" action="">
        {% csrf_token %}
        <ul>
            <li><label>Username : </label>
            {{form.username}}</li>
        </ul>

        <ul>
            <li><label>Email : </label>
            {{form.email}}</li>
        </ul>

        <ul>
            <li><label>Password : </label>
            {{form.password1}}</li>
        </ul>

        <ul>
            <li><label>Confirm Password : </label>
            {{form.password2}}</li>
            <input id="s9_submitregis" type="submit" value="Create Account">
        </ul>
    </form>
    </div>

    <div class="s9_passreqbox">
        <ul>
            <li> Your password can’t be too similar to your other personal information.</li>
            <li> Your password must contain at least 8 characters.</li>
            <li>Your password can’t be a commonly used password.</li>
            <li> Your password can’t be entirely numeric.</li>
        </ul>
    </div>

</div>
</div>

{% endblock content %}