{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Form Activity</title>
{% endblock meta %}

{% block content %}
<div class='s6'>
    <div class='container'>
        <h1>Lagi Ngapain ?</h1>
        <div class='form-group'>
                <form method='POST'>
                    {% csrf_token %}
                    {{form.as_p}}
                    <input  type="submit" value="Submit">
                </form>
        </div>
        <a class="btn btn-secondary" href="{% url 'activity:addactivityform' %}" role="button">Tambah Kegiatan</a>
    </div>
</div>

{% endblock content %}