{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Form Add Activity</title>
{% endblock meta %}

{% block content %}
<div class='s6addactivity'>
    <div class='container'>
        <h1>Tambah Kegiatan</h1>
        <div class='form-group'>
                <form method='POST'>
                    {% csrf_token %}
                    {{form.as_p}}
                    <input  type="submit" value="Submit">
                </form>
        </div>
    </div>
</div>

{% endblock content %}