{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Activity</title>
{% endblock meta %}

{% block content %}
<div class="s6view">
<div class="container">
<h1>Daftar Kegiatan dan Peserta</h1>
{% for q in activity %}
    <table class="table table-bordered">
            <tr>
                <th>{{q.nama}}</th>
            </tr>
                {% for participant in q.participant_set.all %}
                    <tr>
                        <td>{{participant}}</td>
                    </tr>
                {% endfor %}
      </table>
{% endfor %}
    </div>
</div>
{% endblock content %}