/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body{
  background-color:  #383838;

}
.page-container {
  position: relative;
  min-height: 100vh;
  background-color: #383838;
}

.content-wrap {
  padding-bottom: 2.5rem;    
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color:tomato;
  font-family: 'Oswald';
  color: white;            
}

.navbar-expand-lg{
  background-color:tomato;
}

.navbar-expand-lg .navbar-toggler-icon{
  background-color: tomato;
  
}

.navbar-expand-lg .navbar-toggler-icon i{
  color: white;
  margin-top: 25%;
}

nav a{
  color: white;
  font-weight: bold;
  font-family: 'Oswald';
}

.column{
  float: left;
  padding: 5px;
}

.box{
  font-family: 'Oswald';
  color: white;
  text-align: center;
  vertical-align: middle;
  padding-top: 12%;
  padding-bottom: 12%;
}

.aboutbox{
    color:tomato;
    background-color: white;
    border-style: solid;
    text-align: center;
    padding: 5%;
    font-family: 'Oswald';
    margin-top: 6%;
    margin-left: 25%;
    width: 50%;
}

.aboutbox img{
  float: left;
  width: 30%;
}

nav .dropdown-menu{
  background-color: tomato;
}

nav .dropdown-menu a{
  color: white;
  font-weight: bold;
}

.s1body, .s1profile, .s1table{
  font-family: 'Oswald';
}

.s1body h1 {
  text-align: center;
  color: tomato;
}

.s1profile{
  border: 3px inset tomato;
  text-align: left;
  color: white;
}

.s1profile img{
  width: 21%;
  float: left;
}

.s1profile p{
  padding-left: 5px;
}
.s1table{
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
  
}
.s1body h2, .s1body h3{
  color: tomato;
}

.s1table th{
  background-color: tomato;
}
.s1table table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  color: white;
}

.s1table table{
  width: 100%;
  
}

.s1table tr:hover{
  background-color: grey;
}

.s1socmed{
  margin-top: 1%;
  margin-bottom: 1%;
}
.s1socmed img{
  width: 5%;
}

.gal {
  margin-bottom: 3%;
  margin-top: 5%;
}

.gal .gal_title{
  font-weight: bold;
  font-family: 'Oswald';
  color: #FF6347;
  text-align: center;
  size: 100%;
  margin-bottom: 2%;
}

.gal .label:after{
  content: "Welcome to My Gallery";
  font-size: x-large;
}
.gal .label:hover:after{
  content:'Willkommen in Meiner Galerie';
}

.gal .column{
  float: left;
  width: 33.33%;
  padding: 5px;
}

.gal img{
  width: 100%;
}

.s3prof{
  margin-top: 1%;
}

.s3prof .rect{
  width: 100%;
  color: tomato;
  background-color: #c4c4c4;
  font-family: 'Oswald';
  border-radius: 10px;
  text-align: left;
  margin-top: 3%;
}

.s3prof .rect p{
  margin-left: 1%;
}

.s3prof img{
  width: 75%;
  float: left;
  border-radius: 76px;
  margin-left: 20%;
}

.s3table{
  margin-top: 3%;
  font-family: 'Oswald';
  text-align: center;
}

.s3table thead{
  background-color: tomato;
  font-size: bold;
}

.s3table tbody{
  background-color: #c4c4c4;
}

.s3table tr:hover{
  background-color: white;
}

.s3table td{
  color: black;
}

.s3socmed{
  margin-top: 3%;
  font-family: 'Oswald';
  font-weight: bold;
  font-size: large;
  color: tomato;
  margin-bottom: 2%;
}

.s3socmed img{
  width: 5%;
}

.s5 h1{
  font-family: 'Oswald';
  color: tomato;
  font-weight: bold;
  margin-top: 1%;
}

.form-group{
  margin-top: 1%;
}

.form-group p{
  font-family: 'Oswald';
  color: white;
}

.form-group input{
  font-family: 'Oswald;
}

.s5view{
  font-family: 'Oswald';
}

.s5view h1{
  color: tomato;
  margin-top: 1%;
  margin-bottom: 1%;
}

.s5view table{
  text-align: center;
}

.s5view th{
  background-color: tomato;
  color: white;
  font-weight: bold;
}


.s5confirm h1{
  color: tomato;
  font-weight: bold;
  font-family: 'Oswald';
  text-align: center;
  margin-top: 15%;
}

.s5confirm input{
  font-family: 'Oswald';
  margin-left: 50%;
}

.s6view, .s6, .s6addactivity {
  font-family: 'Oswald';
}

.s6view h1{
  color: tomato;
  font-weight: bold;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

.s6view table{
  width: 50%;
  margin-right: 25%;
  margin-left:25%;
  text-align: center;
}

.s6view th{
  background-color: tomato;
}

.s6view td{
  background-color:  #c4c4c4;
  color: black;
}

.s6 h1, .s6addactivity h1{
  color: tomato;
  font-weight: bold;
}

.s6 .form-group, .s6addactivity .form-group{
  margin-top: 2%;
}

.s7_accordion{
  margin-top: 5%;
  margin-bottom: 5%;
}
.s7_accordionhead{
  font-family: 'Oswald';
  font-weight: bold;
  color: tomato;
  background-color: #c4c4c4;
  padding: 2%;
  border-bottom: 1px solid black;
  display: flex;
}

.s7_accordionhead p:hover{
  text-decoration: underline;
  cursor: pointer;
}

.s7_arrows{
  position: absolute;
  left: 85%;
}

.s7_arrows p:hover{
  text-decoration: none;
  color: white;
}

.s7_up{
  float: left;
  padding: 10px;
  transform: rotate(180deg);
  margin-top: 3%
}

.s7_down{
  float: right;
  padding: 10px;
}

.s7panel{
  display: block;
  font-family: 'Oswald';
  max-height: 5%;
  padding: 1%;
  background-color: white;
}

.s8_search{
  margin-top: 1%;
  font-family: 'Oswald';
  text-align: center;
}

#s8_searchbox{
  width: 50%;
  box-sizing: border-box;
  padding: 0.4%;
}

.s8_search h1{
  color:tomato;
}

.s8_search tr,td{
  color:tomato;
  font-family: 'Oswald';
  margin-top: 3%;
  text-align: left;
  text-transform: capitalize;
  border-style: none;
}

.s8_search img{
  padding-right: 2%;
}

.s8_search a:link, .s8_search a:visited{
  color: #FF6347;
}

.s9_login h1{
  margin-top: 2%;
  color: white;
  text-align: center;
  font-family: 'Oswald';
  font-weight: bold;
}

.s9_loginbox{
  background-color: #FF6347;
  margin-top: 5%;
  margin-left: 25%;
  width: 50%;
  padding: 2%;
  color: white;
  font-family: 'Oswald';
  font-weight: bold;
  border-radius: 18px;
}

.s9_register h1{
  margin-top: 2%;
  color: white;
  text-align: center;
  font-family: 'Oswald';
  font-weight: bold;
}

.s9_registerbox {
  background-color: #FF6347;
  margin-top: 3%;
  margin-left: 25%;
  width: 50%;
  height: 50%;
  padding: 2%;
  color: white;
  font-family: 'Oswald';
  font-weight: bold;
  border-radius: 18px;
}

.s9_registerbox input{
  width: 100%;
}

#s9_submitregis{
  margin-top: 5%;
  margin-left: 55%;
  width: 45%;
}

.s9_passreqbox{
  margin-top: 1%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 2%;
  padding: 1%;
  border-radius: 20px;
  font-weight: bold;
  font-family: 'Oswald';
  color: tomato;
  background-color: #c4c4c4;
}

#s9_submitlogin{
  margin-left: 80%;
  width: 20%;
}











  

    