{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Books</title>
{% endblock meta %}

{% block content %}
<div class="container">
    <div class="s8_search">
        <h1>Book Search</h1>
        <input type="text" id="s8_searchbox">
        <ol id="hasil"></ol>
    </div>
</div>
{% endblock content %}