{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Confirm Delete</title>
{% endblock meta %}

{% block content %}
<div class="s5confirm">
    <div class="container">
        <h1> Are you sure you want to delete {{form.nama_Matkul}} ? </h1>
        <form method="POST" action="{% url 'main:delete' form.pk %}"> 
        {% csrf_token %}
            <input type="submit" value="Yes">
        </form>
    </div>
</div>
{% endblock content %}