{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Jadwal</title>
{% endblock meta %}

{% block content %}
<div class="s5view">
<div class="container">
    <h1>Jadwal Saya</h1>
    <table class="table table-bordered">
            <tr>
                <th>Matkul</th>
                <th>Nama Dosen</th>
                <th>SKS</th>
                <th>Semester</th>
                <th>Deskripsi</th>
            </tr>
            {% for q in form %}
                <tr>
                    <td>{{q.nama_Matkul}}</td>
                    <td>{{q.dosen}}</td>
                    <td>{{q.sks}}</td>
                    <td>{{q.semester_Tahun}}</td>
                    <td>{{q.deskripsi_Matkul}}</td>
                    <td><a href="{% url 'main:delete' q.pk %}" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Delete</a></td>
                </tr>
            {% endfor %}
      </table>
    </div>
</div>
{% endblock content %}