{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Jadwal</title>
{% endblock meta %}

{% block content %}
<div class='s5'>
<div class='container'>
    <h1>Yuk Buat Jadwal !</h1>
    <div class='form-group'>
            <form method='POST'>
                {% csrf_token %}
                {{form.as_p}}
                <input  type="submit" value="Submit">
            </form>  
    </div>
</div>
</div>
{% endblock content %}