{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 3</title>
{% endblock meta %}

{% block content %}
<div class="container">
<div class="s3prof">
    <div class="bioprof d-flex flex-column flex-md-row">
        <div class="s3profpic col-4">
            <img src="{% static 'imgstory1/IMG_20190809_1756332.jpg' %}">
        </div>
    <div class="s2bio col-6">
        <div class="rect">
            <div class="s3bio1">
                <div class="header">
                    <p>Ahmadar Rafi Moreno</p>
                </div>
            </div>
        </div>
        <div class="rect">
            <div class="s3bio2">
            <p>NPM : 1906398540</p>
            <p>Angkatan : 2019</p>
            <p>Kuliah : Universitas Indonesia</p>
            <p>Hobi : Nonton Film, Bermain Game</p>
            <p>Deskripsi Saya : Mau Tidur</p>
            </div>
        </div>
    </div>
    </div>
</div>
<div class="s3table">
    <div class="row">
        <div class="table-responsive col-md-6">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="2">Riwayat Kepanitiaan/Organisasi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>HSC SMAN 34</td>
                        <td>Divisi Perlengkapan</td>
                    </tr>
                    <tr>
              <td>BETIS FASILKOM UI</td>
              <td>Divisi Perlengkapan</td>
            </tr>
             <tr>
              <td>RISTEK FASILKOM UI</td>
              <td>Human Resources Division</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table-responsive col-md-6">
        <table class="table table-bordered">
          <thead>
            <tr>
                <th colspan="2">Riwayat Pendidikan</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>SD</td>
                <td>SD Islam Al-Azhar 17 Bintaro</td>
              </tr>
            <tr>
              <td>SMP</td>
              <td>SMP Islam Al-Azhar 3 Bintaro</td>
            </tr>
            <tr>
              <td>SMA</td>
              <td>SMA Negeri 34 Jakarta</td>
            </tr>
             <tr>
              <td>Perguruan Tinggi</td>
              <td>Universitas Indonesia</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
    <div class="s3socmed">
        <p>My Social Media</p>
        <div class="col">
            <a  href="https://open.spotify.com/user/fe2sfm6jnjdc9w9lpg4tes0cq?si=kNlYW0pgTI6la6lSk2KO2A"><img src="{% static 'iconstory3/1200px-Spotify_logo_without_text.svg.png' %}" class="rounded-circle"></a>
            <a  href="https://twitter.com/rafimorrr_"><img src="{% static 'iconstory3/1200px-Twitter.png' %}" class="rounded-circle"></a>
            <a  href="https://www.instagram.com/rafi.morrr/"><img src="{% static 'iconstory3/1200px-Instagram-Icon.png' %}" class="rounded-circle"></a>
            <a  href="https://www.linkedin.com/in/ahmadar-rafi-moreno-89a0b01a3/"><img src="{% static 'iconstory3/1200px-Linkedin.svg.png' %}" class="rounded-circle"></a>
            <a  href="https://steamcommunity.com/id/Kutubberuang/"><img src="{% static 'iconstory3/1200px-Steam_icon_logo.svg (1).png' %}" class="rounded-circle"></a>
        </div>
    </div>
</div>
{% endblock content %}