{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 3 Gallery</title>
{% endblock meta %}

{% block content %}
<div class="container">
<div class="gal">
    <div class="gal_title">
        <span class="label"></span>
    </div>
    <div class="fotofoto">
        <div class="row">
            <div class="column">
                <img src="{% static 'imgstory3/gallery1.jpg' %}">
            </div>
            <div class="column">
                <img src="{% static 'imgstory3/gallery2.jpg' %}">
            </div>
            <div class="column">
                <img src="{% static 'imgstory3/gallery3.gif' %}">
            </div>
        </div>
        <div class="row">
            <div class="column">
                <img src="{% static 'imgstory3/gallery4.jpg' %}">
            </div>
            <div class="column">
                <img src="{% static 'imgstory3/gallery5.jpg' %}">
            </div>
            <div class="column">
                <img src="{% static 'imgstory3/gallery6.gif' %}">
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}